h1{
    font-family: Arial;
    font-size: 30px;
    text-align: left;
    color: purple;
 }h2{
    font-family: Arial;
    font-size: 27px;
    text-align: left;
    color: white;
}article{
    font-family: Arial;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.526);
    background-image:url(../../../../../Downloads/pingouin.png);
    background-position: center ;
    background-repeat: no-repeat; 
    background-attachment : fixed, scroll ;
    margin-left: 20px;
    margin-right: 20px;
}section{
    background-color: rgba(239, 22, 22, 0.347);
}body {
    background-color:rgb(62, 98, 30);
    background-image:url(../../../../../Downloads/pingouin.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment : fixed, scroll ;
    color: white;
}