h1{
    font-family: Arial;
    font-size: 30px;
    text-align: left;
    color: white;
 }h2{
    font-family: Arial;
    font-size: 27px;
    text-align: left;
    color: white;
 }body{
    background-color: grey;
    color: white;
 }.article1{
    color: white;
    background-color: rgba(0, 0, 255, 0.581);
    border: 5px orange dashed;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-image:url(../../../../../Downloads/pingouin.png);
    background-position: left;
    background-repeat: no-repeat; 
    background-size: contain;
 }.article2{
   color: white;
   background-color: rgba(13, 201, 35, 0.082);
   border: 5px orange dashed;
   margin-bottom: 20px;
   margin-left: 15px;
   margin-right: 15px;
   background-image:url(../../../../../Downloads/pingouin.png);
    background-position: left;
    background-repeat: no-repeat; 
   background-size: contain;
 }.article3{
   color: white;
   background-color: rgba(128, 0, 128, 0.201);
   border: 5px orange dashed;
   margin-bottom: 20px;
   margin-left: 15px;
   margin-right: 15px;
   background-image:url(../../../../../Downloads/pingouin.png);
   background-position: left;
   background-repeat: no-repeat; 
   background-size: contain;
   background-clip: content-box;
   padding:8px;
   }
   
